<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" autocomplete="off" placeholder="Enter event name..."/>
    <br />
    <br />
    <input name="description" type="text" placeholder="Enter event description..." autocomplete="off"/>
    <br/>
    <br/>
    <label for="date">Date</label>
    <input name="date" type="datetime-local" aria-describedby="date-format" min="2022-01-01" max="2032-01-01" />
    <br/>
    <br/>
    <input type="submit" value="Add Event" />
</form>

<partial name="/Views/Shared/_LinkListPartial.cshtml" />
